# IDE configurations
/.vscode/
/.idea/

# cache
__pycache__/

# virtual environment
/venv/

# space-intensive data
data/

# other files
.DS_Store
pktrule-pktrule_rfc4271/
extracted_rules.xlsx
bgp_4271.json
RFC_Rule.md
