# IDE configurations
/.vscode/
/.idea/

# cache
__pycache__/

# virtual environment
/venv/

# space-intensive data
data/

# logs
*.log

# other files
.DS_Store
pktrule-pktrule_rfc4271/
*.xlsx
*.json
llm提取RFC整理.md
RFC_Rule.md
